/.venv/
/dogs-and-cats-classifications-using-cnn.ipynb
/Datasets/sampleSubmission.csv
/Datasets/test1.zip
/Datasets/train.zip
/dataset_dogs_vs_cats/
/working/
/Datasets/submission.csv
/cats-vs-dogs-image-classification-using-cnn-95.ipynb
/Datasets/fashion-dataset/train_test_styles/
/Datasets/fashion-dataset/working/
/Datasets/fashion-dataset/styles/
/Datasets/fashion-dataset/validate_styles/
/Datasets/sSubmission.csv
/.idea/
/.ipynb_checkpoints/
/Datasets/.ipynb_checkpoints/
/Datasets/fashion-dataset/.ipynb_checkpoints/
/BORRAR_GOOGLE_COLAB_classificate_fashion_style.ipynb